@import '/variables.scss';

.nuxt-link-exact-active {
  color: $text-primary;
  font-weight: bold;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}


// type-scale config //

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} /*16px*/

body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: $black-primary;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	margin: 0;
}

.home {
  background-color: #0e0e0e;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2em;
  font-weight: 700;
}

h2 {
	margin: 4rem 0 1.05rem;
	font-size: 1.5em;
}

h3 {font-size: 1.4em;}

h4 {font-size: 1.25em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

blockquote{
	border-left-width: 6px;
    border-left-style: solid;
    padding: 20px 45px 20px 26px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

a{
	color: #00e;
}

.docs {
	main{
		p{
			.code-embed{
				font-family: 'Source Code Pro', monospace;
				font-weight: 600;
				background: rgba(0, 0, 0, 0.05);
				border: 1px solid rgba(0, 0, 0, 0.05);
				border-radius: 3px;
				color: #ab1a1a;
				font-size: 13px;
				padding: 2px 4px;
    		}
		}
		ul, ol{
				margin: 20px 0;
			    font-size: 16px;
			    padding-left: 25px;
			    li{
			    	margin-top: 10px;
			    }
			}
			.block-img{
				img{
					width: 100%;
					height: auto;
					border: none;
					border-radius: 2px;
				    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1), 0 0 6px 0 rgba(0,0,0,.1), 0 2px 2px -2px rgba(0,0,0,.15);
				}
			}
	}
}