@import '/typography.scss';
@import '/breakpoints.scss';
@import '/colors.scss';
@import '/mixins.scss';

$bg-green: #dff5e8;
$bg-secondary: #f7f7f7;

$container-width: 1120px;

$color-paragraph-main: #20613c;

$text-dark: #171717;
$text-darker: #000;

$base-horizontal-margins: 12px;

$md-border-color: #ecedef;
