#call-to-action {
  text-align: center;
  h3{
    margin-top: 0;
  }
  p {
    margin: 0;
  }
  form.beta-access {
    margin-top: 20px;
    input[type="email"] {
      border: 1px solid rgba(255, 255, 255, 0.8);
      background: transparent;
      box-sizing: border-box;
      border-radius: 2px;
      margin-right: 15px;
      font-size: 15px;
      padding: 0 15px;
      color: white;
      height: 60px;
      width: 100%;
      max-width: 340px;
      -webkit-appearance: none;
      -moz-appearance: none;
      &:focus {
        border: 1px solid rgba(255, 255, 255, 1);
      }
    }
    input[type="submit"] {
      background: white;
      border-radius: 2px;
      font-weight: 600;
      font-size: 15px;
      padding: 0 15px;
      color: black;
      border: none;
      height: 60px;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
    }
  }
  @media (max-width: 1024px) {
    form.beta-access input[type="email"],form.beta-access input[type="submit"]{
      max-width: 100% !important;
      width: 100%;
      margin: 10px 0;
    }
  }
  @media (max-width: 640px) {
    form.beta-access input[type="email"],
    form.beta-access input[type="submit"] {
      max-width: 100% !important;
      width: 100%;
      margin: 10px 0;
    }
  }
}