#testimonial {
  background-color: #191a1b;
  padding: 80px;
  height: auto;
  display: grid;
  grid-gap: 80px;
  grid-template-columns: 1fr 1fr;
  .contributors{
    .testimonial_message{
      margin-top: 40px;
      border-left: 4px solid #9f8db3;
      padding: 0 30px;
      box-sizing: border-box;
      p{
        color: #fff;
        margin-top: 0;
        line-height: 160%;
        font-size: 14px;
      }
      div{
        padding-left: 60px;
        position: relative;
        &:before{
          left: 0px;
          position: absolute;
          display: inline-block;
          content: '';
          width: 45px;
          height: 45px;
          border-radius: 100%;
          background-size: cover;
          background-image: url('https://d33wubrfki0l68.cloudfront.net/a1dee8408037eb2daec192a7f045d6ade1c66e00/4136e/images/me/me-p.jpg');
        }
        font-size: 14px;
        span{
          display: block;
          font-size: 12px;
          color: #bababa;
        }
        a {
          color: #ffffff;
          &:visited{
            color: #ffffff;
          }
        }
      }
    }
  }
  .description{
    padding: 0 50px 0 110px;
    border-left: 1px solid #343434;
    dl{
      margin: 0;
      max-width: 300px;
      dt{
        position: relative;
        margin-bottom: 10px;
        font-weight: 600;
        svg{
          position: absolute;
          left: -40px;
        }
      }
      dd{
        color: #bababa;
        margin: 0 0 24px 0;
        font-size: 14px;
        &:last-child{
          margin-bottom: 0
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  #testimonial {
    padding: 50px;
    grid-gap: 50px;
    .description dl{
      max-width: 100%;
    }
    .contributors{
      .testimonial_message{
        padding: 0 0 0 30px;
      }
    }
    .description{
      padding: 0 0 0 100px;
    }
  }
}
@media (max-width: 640px) {
  #testimonial {
    padding: 3em;
    grid-template-columns: 1fr;
    .description{
      padding: 0 0 0 38px;
      border: none;
    }
  }
}